body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  height: 0;
  color: #EAF6F6;
  width: 10%;
  border-style: dotted none none;
  border-width: 5px;
  margin: 80px auto 80px auto;
}

h1 {
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  color: #008E89;
  font-weight: 500;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: #008E89;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 1.5;
}

a {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #BBDED6;
  position: relative;
  padding-top: 200px;
}

.middle-container {
}

.intro {
  width: 25%;
  margin: auto;
}


.bottom-container {

}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 300px;
}

.mountain {
  position: relative;
  top: 4px;
}


.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.img1 {
  width: 20%;
  float:left;
  margin-right: 40px;
}

.img2 {
  width: 20%;
  float: right;
  margin-left: 40px;
}


.bottom-container {
  background-color: #BBDED6;
  padding: 50px 0 10px;
  margin-top: 50px;
}

.contact-text {
  width: 30%;
  margin: 40px auto;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #008E89;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #11999E;
  text-decoration: none;
}

.footer-link {
  color: #11999E;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
